html {
    font-family:"Raleway", sans-serif;
}

.center {
    margin: 0;
}

.search-answer{
    text-align: center;
    
}

#climbing-link:hover{
    background-color:rgb(254, 20, 125);
}
#sport-link:hover{
    background-color:rgb(254, 20, 125);
}
#bouldering-link:hover{
    background-color: rgb(254, 20, 125);
}
#contact-link:hover{
    background-color: rgb(254, 20, 125);
}

header{
    background: linear-gradient(180deg, #84daf5, #89ffff, #affffa, #ffffff);
} 



h1 {
    text-align: center;
}

.contact-form{
    text-align: center;
}

h2{
    font-size: x-large;
    background: #84daf5;
}

#Have-questions{
    text-align: center;
    color:rgb(254, 20, 125);
}

#submit:hover{
    background-color: rgb(254, 20, 125);
}

td{
    color:rgb(254, 20, 125);
}

#source:hover{
    background-color: rgb(254, 20, 125);
}

#first:hover{
    background-color: rgb(254, 20, 125);
}

#last:hover{
    background-color: rgb(254, 20, 125);
}

#email:hover{
    background-color: rgb(254, 20, 125);
}

